* {
    font-size: 150%;
    margin: 0 auto;
}


body {
    font-family: "PT Sans", sans-serif;
    margin: 0% auto;
    background: whitesmoke;
}

.heading {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 7.5%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    border-bottom-style: solid;
    border-color: lightgrey;
}

.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.heading h1 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 30px;
}

h2 {
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
}

.checklist {
    margin: 2em 0;
    font-size: 1em;
}

.no-tasks-message{
    text-align: center;
}

input[name="tasks"]{
    background-color: red;
}

.add-task {
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
}

#add-task-button {
    font-size: 1.3em;
    padding: 30px 40px;
    margin: 20px 0px;
    background-color: royalblue;
    color: white;
    border-style: hidden;
    border-radius: 10px;
}

input[type=text] {
    padding: 30px 30px;
    margin: 20px 0px;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 10px; /*updates the roundness of box corners*/
}

.submit {
    display: inline-block;
    /*padding: 20px 15px;*/
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
}

label {
    align-items: center;
}

input[type=checkbox]{
    transform: scale(2.5);
}

label {
    display: block;
}

.toolbar {
    display: flex;
    position:absolute;
    bottom:0;
    width:100%;
}

.button {
    font-size: 0.8em;
    padding: 1.4em;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}