.todo-input {
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#new-todo-text {
    width: 14em;
    /*width: 12em;*/
    color: black;
}

.add-button {
    font-family: "PT Sans", sans-serif;
    /*font-size: 17px;*/
    font-size: 14px;
    background-color: royalblue;
    color: white;
    border-color: darkgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 6px 10px 6px 10px;
}

.add-button-disabled {
    opacity: 0.6;
    font-family: "PT Sans", sans-serif;
    /*font-size: 17px;*/
    font-size: 14px;
    background-color: royalblue;
    color: white;
    border-color: darkgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 6px 10px 6px 10px;
}