.todo-input {
    padding: 5px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#new-todo-text {
    width: 14em;
    /*width: 12em;*/
    color: black;
}

.add-button {
    font-family: "PT Sans", sans-serif;
    /*font-size: 17px;*/
    font-size: 14px;
    background-color: royalblue;
    color: white;
    /*border-color: darkgrey;*/
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 8px 12px 8px 12px;
    position:relative;
    bottom:2px;
}

.add-button-disabled {
    font-family: "PT Sans", sans-serif;
    /*font-size: 17px;*/
    font-size: 14px;
    background-color: #8EA5EE;
    color: white;
    /*border-color: darkgrey;*/
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 8px 12px 8px 12px;
    position:relative;
    bottom:2px;
}