.reset-email-input{
    padding: 5px;
    font-size: 16px;
    margin-top: 1%;
    width: 220px;
}

.reset-password-button{
    margin-top: 10px;
    font-size: 17px;
    background-color: royalblue;
    color: white;
    border-color: darkgrey;
    border-style: hidden;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 6px 10px 6px 10px;
}