.reset-email-input{
    padding: 5px;
    font-size: 16px;
    margin-top: 10%;
    width: 80%;
    margin-bottom: 5%;
    /*width: 220px;*/
}

.reset-password-button{
    /*margin-top: 10px;*/
    font-size: 17px;
    background-color: royalblue;
    color: white;
    border-color: darkgrey;
    border-style: hidden;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    width: 86%;
}

#forgot-msg {
    margin-top: 10px;
    font-size: 16px;
}

#pass-reset-top {
    display: flex;
}

#pass-reset-title {
    font-weight: bold;
    font-size: 18px;
    padding-left: 11px;
}

.cancel-reset-button{
    margin-left: 110px;
    border: none;
    background-color: white;
}

.reset-backdrop {
    z-index:1;
    position: fixed;
    top:0;
    left: 0;
    bottom: 400pt;
    right: 300pt;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.reset-modal {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    height: 190pt;
    width: 200pt;
    padding: 40px 30px 20px 30px;
    position: relative;
    top: 25vh;
}