.task-container{
    display: inline-flex;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    opacity: 0.8;
    width: 331px;
}

.task-label{
    margin-top: 4px;
    font-family: "PT Sans", sans-serif;
    margin-left: 5px;
    font-size: 18px;
    flex-basis: 80%;
    min-height: 27px;
    height: auto;
    border: none;
    resize: none;
}

.delete-button {
    right: 23px;
    margin-top: 7px;
    display: inline-list-item;
}