.task-container{
    display: inline-flex;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 110%;
    border-radius: 5px;
    background-color: white;
    opacity: 80%;
}

.task-label{
    font-family: "PT Sans", sans-serif;
    margin: 3px 0px 0px 5px;
    font-size: 18px;
    flex-basis: 80%;
    min-height: 30px;
    height: auto;
    border: none;
    resize: none;
}

.task-buttons {
    right: 20px;
    position: absolute;
    margin-top: 5px;
    display: inline-list-item;
}