.task-container{
    display: inline-flex;
    /*margin: 5px;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    justify-content: space-between;
}

.task-label{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    flex-basis: 90%;
    min-height: 27px;
    height: auto;
    border: none;
    resize: none;
    margin: 4px 10px 4px 5px;
}

.task-label-strikethrough{
    font-family: "PT Sans", sans-serif;
    text-decoration: line-through;
    font-size: 18px;
    flex-basis: 90%;
    min-height: 27px;
    height: auto;
    border: none;
    resize: none;
    margin: 4px 10px 4px 5px;
}

.delete-button {
    margin: 10px 10px;
    border: none;
    background-color: white;
}

.priority-button-container {
    margin: auto;
}

.priority-button {
    width: 32px;
    height: 32px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}

#low {
    background: lightgrey;
}

#medium {
    background: #ffe14f;
}

#high {
    background: #f53333;
    color: white;
}