#checklist {
    margin: 12px 1rem 12px 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 3rem;
}

input[type="checkbox"] {
    transform: scale(1.4);
    display: inline-block;
    color: orange;
    margin: auto 12px auto 12px;
}

.sort-button {
    font-family: "PT Sans", sans-serif;
    font-size: 10px;
    background-color: lightgrey;
    color: black;
    border-color: darkgrey;
    width: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 40px;
    padding: 6px 10px 6px 10px;
}

