.checklist {
    padding-left: 10px;
    /*display: inline-block;*/
    font-size: 18px;
    /*width: 300px;*/
    /*height: 100px;*/
}

input[type="checkbox"]{
    transform: scale(1.4);
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    color: orange;
}
