.toolbar {
    display: flex;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    background-color: white;
    justify-content: center;
    padding: 6px 0px;
    border-top-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    gap: 5px;
}

#hide-button{
    width: 120px;
}

.toolbar-button {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    background: royalblue;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 12px;
    padding-top: 5px;
    color: white;
    height: 62px;
    margin: 2px 2px 2px 2px;
}

#sort-button{
    width: 70px;
}

#sort-icon{
    padding-top: 3px;
    padding-bottom: 5px;
    transform: scale(2);
}

#hide-button{
    width: 130px;
}

#hide-icon{
    padding-top: 3px;
    padding-bottom: 5px;
    transform: scale(2);
}

#delete-button{
    width: 140px;
}

#delete-icon{
    padding-top: 3px;
    padding-bottom: 5px;
    transform: scale(2);
}

#delete-completed-button-hidden{
    opacity: 0.6;
    width: 140px;
}
