#app-container {
  font-family: "PT Sans", sans-serif;
  background: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 85px;
  width: 360px;
  height: 640px;
}

.add-task{
  padding-top: 20px;
  text-align: center;
}

.heading {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 3%;
  border-bottom-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

