#app-container {
  font-family: "PT Sans", sans-serif;
  background: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 85px;
  width: 380px;
  /*height: 800px;*/
}

.add-task{
  padding-top: 10px;
  text-align: center;
  grid-column: 1;
  display: inline;
}

.topButtonBar {
  display: grid;
  grid-template: 50pt / auto auto;
  background: white;
  border-width: 1px;
  margin-top: 17px;
}

.heading {
  background-color: white;
  width: 380px;
  padding-top: 1%;
  /*padding-bottom: 3%;*/
  border-bottom-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

