.app-container {
    font-family: "PT Sans", sans-serif;
    background: whitesmoke;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 10%;
    min-width: 360px;
}

.title {
    text-align: center;
}

.loading-message {
    text-align: center;
    font-size: 30px;
    position: relative;
}

.add-task-container {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.add-list {
    padding-top: 10px;
    text-align: center;
    grid-column: 1;
    display: inline;
}

.top-button-bar {
    background: white;
    border-width: 1px;
}

#home-button {
    position: absolute;
    float: left;
    height: 42px;
    width: 4em;
    border-style: hidden;
    background-color: transparent;
    transform: scale(2);
}

#share-button {
    /*position: absolute;*/
    float: right;
    margin-right: 14px;
    padding-bottom: 4em;
    border-style: hidden;
    background-color: transparent;
    transform: scale(2);
}

.heading {
    padding-top: 3%;
    display: inline;
}

.header {
    display: inline;
}

.homepage-heading {
    padding-top: 3%;
    display: inline;
}
