body {
    font-family: "PT Sans", sans-serif;
    background: whitesmoke;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: white;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: lightgrey;
    border-width: 1px;
}
