.profile {
    height: 40px;
    /*columns: 2;*/
    background: lightgrey;
    padding: 7px;
    border: 0px solid lightgrey;
    border-bottom-width: 2px;
    min-width: 360px;
    width: 100%;
}

#user-id {
    display: inline-flex;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 8px;
}

#email {
    margin-left: 2px;
}

#profile-button {
    float: right;
    margin-top: 10px;
    border-style: hidden;
    background-color: transparent;
    transform: scale(1.2);
    margin-right: 3%;
}

#profile-icon {
    transform: scale(1.5);
    color: royalblue;
    margin-right: 10px;
}

#verify-email-button{
    border: none;
    background: transparent;
    font-size: 14px;
    color: royalblue;
    text-decoration: underline;
    font-weight: bold;
}

#logout-button{
    /*position: absolute;*/
    background: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    /*border-radius: 3px;*/
    /*color: black;*/
    border-radius: 3px;
    transform: scale(1.8);
    /*padding-right: 200%;*/
}