.profile {
    height: 40px;
    columns: 2;
    background: lightgrey;
    padding: 7px;
    border: 0px solid lightgrey;
    border-bottom-width: 2px;
    min-width: 360px;
}

#user-id {
    display: inline-flex;
    font-size: 15px;
    margin-left: 7px;
    margin-top: 1px;
}

#email {
    margin-left: 2px;
}

#profile-button {
    float: right;
    margin-right: 13px;
    margin-top: 10px;
    border-style: hidden;
    background-color: transparent;
    transform: scale(1.5);
}

#profile-icon {
    transform: scale(1.5);
    color: royalblue;
    margin-right: 5px;
}

#verify-email-button{
    border: none;
    background: transparent;
    font-size: 14px;
    color: royalblue;
    text-decoration: underline;
    font-weight: bold;
}

#logout-button{
    /*position: absolute;*/
    /*background: white;*/
    /*border-color: white;*/
    /*border-style: solid;*/
    /*border-radius: 3px;*/
    /*color: black;*/
    right: 10px;
    transform: scale(1.4);
}