.editor-input {
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    box-sizing: border-box;
    flex-grow: 1;
    margin-bottom: 10px;
    width: 205px;
}


.add-button {
    font-size: 14px;
    background-color: royalblue;
    color: white;
    border-color: darkgrey;
    border-style: hidden;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 15px;
    padding: 6px 10px 6px 10px;
}

.add-button-disabled {
    opacity: 0.8;
    font-size: 14px;
    background-color: royalblue;
    color: white;
    border-color: darkgrey;
    border-style: hidden;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 15px;
    padding: 6px 10px 6px 10px;
}