.editor-container {
    margin-top: -20px;
    display: inline-flex;
    box-shadow: 3px 4px 8px 3px rgba(0, 0.2, 0.2, 0.2);
    border-radius: 5px;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    justify-content: space-evenly;
}

#editor-label{
    color: black;
    background: white;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    flex-basis: 90%;
    height: auto;
    border: none;
    resize: none;
    margin: 4px 4px 4px 5px;
    flex-grow: 1;
}

.delete-editor-button {
    margin: 10px 10px;
    border: none;
    background-color: white;
}